:root{
  --red: #ff5555;
  --orange: #ffaa00;
  --green: #55aa55;
  --blue: #5555ff;
}

body{
  background: #000;
  overflow: hidden;
  background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/470220/3b125555088076e2d100c9a5f464cc7ecdfa00ac.jpg');
  background-size: cover;
  font-family: arial;
}

.bolinho{
    background: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.bolinho .card{
    top: -82px;
    left: 147px;
}

.card{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/95/UNO_cards_deck.svg');
  width: 242px;
  height: 361px;
  transform: scale(0.4);
  display: inline-block;
  margin-left: -170px;
  position: relative;
  left: 120px;
  cursor: pointer;
  background-position: -241px 0px;
  transition: 1s;
}

.myhands .card{
  margin-top: -270px;
  z-index: 100;
  position: relative;
  left: 137px;
}

.myhands{
  width: 90%;
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translate(50%);
  transition: 1s;
}

.enemyhands .card{
  z-index: 100;
  margin-top: 50px;
}

.enemyhands{
  width: 90%;
  position: absolute;
  top: 0%;
  right: 50%;
  transform: translate(50%);
  transition: 1s;
}

.activeHands{
  transform: translate(50%);
}

.cardHover{
  transform: scale(0.6);
}

.bolinho{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar .time{
  position: absolute;
  right: 0px;
  background: #fff;
  width: 7px;
  height: 100%;
}

.avatar .time .progress{
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--red);
    transition: 0.3s;
    bottom: 0px;
}

.comprar{
  position: absolute;
    top: -151px;
    left: -72px;
    z-index: 10;
    padding: 20px;
    color: #fff;
    transform: scale(1.2);
    cursor: pointer;
    background-image: url(https://cf.geekdo-images.com/itemrep/img/IjsKZdjhsq9tvm4H958AXs7kcrU=/fit-in/246x300/pic4491558.png);
    width: 50px;
    height: 99px;
    background-size: cover;
}

.comprar::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.70);
  left: 0px;
  top: 0px;
}

.comprar p{
    font-size: 17px;
    position: relative;
    z-index: 50;
    top: 15px;
}

.modal{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.60);
  z-index: -1;
  transition: 1s;
  opacity: 0;
}

.modalActive{
  opacity: 1;
  z-index: 1000;
}

.modal .txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.modal button{
  padding: 10px;
  background: #ff5555;
  outline: none;
  border: none;
  color: #fff;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin-left: 20px;
}

.changeColor{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: pointer;
}

.newcolor{
  position: relative;
  width: 100px;
  height: 100px;
  background: #ff5555;
  margin-left: 10px;
  display: inline-block;
  color: #fff;
}

.changeColor .red{
  background: #ff5555;
}

.changeColor .orange{
  background: #ffaa00;
}

.changeColor .green{
  background: #55aa55;
}

.changeColor .blue{
  background: #5555ff;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 6px;
}

.myhands .avatar{
  position: absolute;
  left: 0%;
  width: 100px;
  height: 100px;
  background-image: url('https://data.whicdn.com/images/17418041/original.jpg');
  background-size: cover;
  top: -290px;
}

.enemyhands .avatar{
  background-image: url('https://images.discordapp.net/avatars/348187123536494592/32c74035bac6fb7636c12d51130e846f.png?size=512');
  position: absolute;
  left: 0%;
  width: 100px;
  height: 100px;
  background-size: cover;
  top: 30px;
}

.enemyhands .card{
  background-image: url('https://opengameart.org/sites/default/files/UNO-Back_0.png');
  background-position: 0px 0px !important;
  background-size: cover;
}

.menu{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 10000;
  opacity: 1;
  transition: 1s;
}

.menu .back{
  background-image: url('https://assets.gamespot.com.br/gs/wp-content/uploads/2019/05/07111412/Uno.jpeg');
  width: 100%;
  height: 100%;
  background-size: cover;
  left: 0px;
  top: 0px;
  position: fixed;
}

.menu .back::after{
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.80);
  position: fixed;
  top: 0px;
  left: 0px;
}

.menu .logo{
  position: relative;
  width: 300px;
  height: 210px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/UNO_Logo.svg/1200px-UNO_Logo.svg.png');
  background-size: cover;
  margin: 0px auto;
  z-index: 10000;
  top: 50px;
}

.menu a{
  position: relative;
  color: #fff;
  font-size: 52px;
  text-align: center;
  top: 100px;
  z-index: 2000;
  text-decoration: none;
}

.hidden{
  z-index: -1;
  opacity: 0;
}
